// COLORS

$color-primary: #ee4c7c;
$color-primary-light: #e59cae;
$color-primary-dark: #9a1750;

$color-primary2: #f0a3bc;
$color-primary2-light: #b19f9e;
$color-primary2-dark: #a16e83;

$color-secondary-light: #88bdbc;
$color-secondary-dark: #254e58;

$color-tertiary-light: #6cdaee;
$color-tertiary-dark: #1b9ce5;


$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #4e4e50;

$color-white: #fff;
$color-black: #000;

// Reference Colors
$color-green: #55c57a;
$color-green-light: #7ed56f;
$color-green-dark: #28b485;

$color-orange-light: #ffb900;
$color-orange-dark: #ff7738;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;


